# Ignore PHP files
**/vendor/*
**/composer.lock
backend/config.php

###> symfony/framework-bundle ###
**/.env.local
**/.env.local.php
**/.env.*.local
**/.env
**/config/secrets/prod/prod.decrypt.private.php
**/public/bundles/
**/var/
###< symfony/framework-bundle ###


# Ignore JS files